<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drug Quest - コンセプト</title>
    <link rel="stylesheet" href="about.css">
</head>
<body>
    <!-- ヘッダー -->
    

    <!-- メインコンテンツ -->
    <div class="about_main">
        <h1 class="main-title">Drug Questについて</h1>
        <div class="concept-text">
            <p>
                <strong>Drug Quest</strong>は、ドラッグストアで起こる問題をクイズで体験して遊ぶゲーム<br>
                あなたがドラッグストアの新入社員として働き始める所からスタートします<br>
                研修？そんなものは意味ありません！現場で学ぶんだぜ！ぶっつけ本番！<br>
                色々仕事があります。レジ打ち・補充作業・店内清掃・見切り処理・・・<br>
                シフト管理・商品発注・<span class="claim">クレーム対応</span>まであります。<br>
                その中でも、レジ打ち・補充作業・商品発注・<span class="claim">クレーム対応</span>を体験してもらいます。
            </p>
            <p>
                このゲームを通して、ドラッグストアの裏側や業務を体感できるだけでなく、<br>
                クリアした人は店長になれるかもしれませんね・・・<br>
        </div>
    </div>

    <!-- フッター -->
    
</body>
</html>
 