<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drug Quest - コンセプト</title>
    <link rel="stylesheet" href="about.css">
</head>
<body>
    <!-- ヘッダー -->
    

    <!-- メインコンテンツ -->
    <div class="about_main">
        <h1 class="main-title">Drug Questの遊び方</h1>
        <div class="concept-text">

            <p>
            新規登録・ログインが済んだらゲームのトップ画面に移動します<br>
            4つの業務があるので、好きな仕事から始めてください<br>
            各業務は時間が計測されます。早いとステータスが高くなります。<br>
            問題は5問あります。終わったら「保存」を押してください。<br>
            4つ全ての業務を完了すると、4つのスコアからあなたのレベルを表示されます<br>
            自分のステータスは自分のユーザ名をクリックした先のユーザ詳細ぺージで確認できます
            </p>
        </div>
    </div>

    <!-- フッター -->
    
</body>
</html>
 