<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drug Quest</title>
    <link rel="stylesheet" href="/home/home.css">
</head>
<body class="top-page">

    <main class="top-page">
        <img src="/image_(2024_0911_1309).png" alt="Dragon Quest" class="main-image">
        <div class="headings">
            <a href="/users/new" class="heading">新しく出勤する</a>
            <a href="/users/login" class="heading">中断した職場から始める</a>
        </div>
    </main>

    

</body>
</html>
 