<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ドラッグストア ゲームトップ</title>

  <!-- 外部CSSファイルを読み込む -->
  <link rel="stylesheet" href="/assets/application.css">

  <!-- ドラゴンクエスト風のフォント -->
  <link href="https://fonts.googleapis.com/css2?family=PixelFont&display=swap" rel="stylesheet">
</head>

<body>

  <div class="game-links">
  <h1 class="game-title"> 業務一覧 </br> 仕事を選んでください</h1>
    <div class="link-row">
      <a href="/games/cashier" class="game-link">
        <img src="/shopping_reji_man.png" alt="レジ打ち">
        <span>レジ打ち</span>
      </a>
      <a href="/games/claim" class="game-link">
        <img src="/claimer_obasan.png" alt="クレーム対応">
        <span>クレーム対応</span>
      </a>
    </div>
    <div class="link-row">
      <a href="/games/replenishing" class="game-link">
        <img src="/nidai_hakobu_tenin_man_box.png" alt="補充">
        <span>補充</span>
      </a>
      <a href="/games/order" class="game-link">
        <img src="/document_hacchusyo.png" alt="発注">
        <span>発注</span>
      </a>
    </div>
  </div>
</body>